%sh

function load_dataset() {
  wget -q https://files.grouplens.org/datasets/movielens/$1.zip
  unzip -u -q $1.zip $1/movies.csv $1/ratings.csv

  if [ -d dataset ]; then
    rm -r dataset
  fi

  mv $1 dataset
  rm $1.zip
}

dataset="ml-latest-small"
hadoop_path="/top-movies-spark-sql"

load_dataset $dataset

hdfs dfs -test -d $hadoop_path
if [ $? -eq 0 ]; then
  hdfs dfs -rm -r $hadoop_path &>/dev/null
fi

hdfs dfs -mkdir $hadoop_path
hdfs dfs -put dataset $hadoop_path

%pyspark

hadoop_path = '/top-movies-spark-sql'

args = {
    'N': 0,
    'regexp': '',
    'year_from': 0,
    'year_to': 10000,
    'genres': 'Action|Adventure|Animation|Children|Comedy|Crime|Documentary|Drama|Fantasy|Film-Noir|Horror|IMAX|Musical|Mystery|Romance|Sci-Fi|Thriller|War|Western'
}

%pyspark

def create_db(path: str) -> None:
    spark.sql(f'DROP DATABASE IF EXISTS movies_db CASCADE')
    spark.sql(f'CREATE DATABASE movies_db COMMENT "This is movies database" LOCATION "{path}/movies_db"')
    

create_db(hadoop_path)
spark.sql('DESCRIBE DATABASE movies_db').show(truncate=False)

%pyspark

def create_movies_view(path: str) -> None:
    spark.sql(f'DROP VIEW IF EXISTS lnd_movies')
    spark.sql(f'''
        CREATE TEMPORARY VIEW lnd_movies
        (
            movie_id STRING,
            title STRING,
            genres STRING
        )
        USING CSV
        OPTIONS
        (
            HEADER = true,
            PATH = '{path}/dataset/movies.csv'
        )
    ''')
    

create_movies_view(hadoop_path)
spark.sql('SELECT * FROM lnd_movies LIMIT 5').show(truncate=False)

%pyspark

def create_ratings_view(path: str) -> None:
    spark.sql(f'DROP VIEW IF EXISTS lnd_ratings')
    spark.sql(f'''
        CREATE TEMPORARY VIEW lnd_ratings
        (
            user_id STRING,
            movie_id STRING,
            rating STRING,
            timestamp STRING
        )
        USING CSV
        OPTIONS
        (
            HEADER = true,
            PATH = '{path}/dataset/ratings.csv'
        )
    ''')
    
    
create_ratings_view(hadoop_path)
spark.sql('SELECT * FROM lnd_ratings LIMIT 5').show(truncate=False)

%pyspark

def create_movies_table(path: str) -> None:
    spark.sql(f'DROP TABLE IF EXISTS movies_db.mapped_and_filtered_movies')
    spark.sql(f'''
        CREATE TABLE movies_db.mapped_and_filtered_movies
        (
            title STRING,
            year INT,
            genre STRING,
            rating FLOAT
        )
        LOCATION '{path}/movies_db/mapped_and_filtered_movies'
    ''')
    

create_movies_table(hadoop_path)
spark.sql('DESCRIBE TABLE movies_db.mapped_and_filtered_movies').show(truncate=False)

%pyspark

def load_movies_table() -> None:
    split_regexp = '(.+)[ ]+[(](\\\d{4})[)]'
    spark.sql(f'''
        WITH cte_split AS
        (
            SELECT
                movie_id,
                REGEXP_EXTRACT(title, '{split_regexp}', 1) AS title,
                REGEXP_EXTRACT(title, '{split_regexp}', 2) AS year,
                EXPLODE(SPLIT(genres, '[|]')) AS genre
            FROM lnd_movies
        ),
        cte_required_genres AS
        (
            SELECT EXPLODE(SPLIT('{args['genres']}', '[|]')) AS genre
        )
        INSERT OVERWRITE TABLE movies_db.mapped_and_filtered_movies
            SELECT title, year, genre, rating
            FROM
            (
                SELECT 
                    title, year, genre, rating,
                    ROW_NUMBER() OVER(PARTITION BY genre ORDER BY rating DESC, year DESC, title) AS num
                FROM cte_split
                JOIN
                (
                    SELECT movie_id, ROUND(AVG(rating), 4) as rating
		            FROM lnd_ratings
		            GROUP BY (movie_id)
                ) USING (movie_id)
                WHERE
                    year != 0 AND year BETWEEN {args['year_from']} AND {args['year_to']}
                    AND LOCATE('{args['regexp']}', title) != 0
                    AND genre IN (SELECT genre FROM cte_required_genres)
            ) AS result
            WHERE num <= {args['N']} OR {args['N']} = 0
            ORDER BY genre, rating DESC, year DESC, title
    ''')


load_movies_table()
spark.sql('SELECT * FROM movies_db.mapped_and_filtered_movies LIMIT 5').show(truncate=False)

%pyspark

def create_result_table(path: str) -> None:
    spark.sql(f'DROP TABLE IF EXISTS movies_db.result_movies')
    spark.sql(f'''
        CREATE TABLE movies_db.result_movies
        USING CSV
        OPTIONS
        (
            HEADER = true
        )
        LOCATION '{path}/movies_db/result_movies'
        AS
        (
            SELECT genre, title, year, rating 
            FROM movies_db.mapped_and_filtered_movies
        )
    ''')
    

create_result_table(hadoop_path)

%sh

hdfs dfs -ls /top-movies-spark-sql/movies_db/result_movies